APP_NAME = E-HEALTH
VERSION = 1.0.0

HOST = localhost
PORT = 3000

DB_HOSTMAME = localhost
DB_USERNAME = postgres
DB_PASSWORD = 12345678
DB_NAME = ehealth_db
DB_DIALECT = postgres

# Cloudinary
CLOUDINARY_CLOUD_NAME = dfxz7biyk
CLOUDINARY_API_KEY = 148754829477125
CLOUDINARY_API_SECRET = rhX7a9H938RCbkM9EEHJmy8JNd0

DEFAULT_IMAGE_CATEGORY = https://res.cloudinary.com/dfxz7biyk/image/upload/v1667302743/category/default_g1bq8r.png
